<html>
<head>
	<title>Case Details</title>
</head>
<body style="background-color:#FFEBCD">
<h1 align="center"> Case Details from PACER </h1>
<hr>
<h3 align="center"> Case Details Table:</h3>
<center>
<table border=1 cellpadding=10>
	<tr style="background-color:#8A2BE2;color:#FFF;">
		<th>Case ID</th>
		<th>Case Number</th>
		<th>Parties invilved</th>
		<th>Case Filed Date</th>
		<th>Case Closed Date</th>
	</tr>
	{% if case_details_list %}
	{% for poll in case_details_list %}
	<tr style="background-color:#BA55D3;color:#FFF;">
		<td>{{ poll.case_id }}</td>
		<td>{{poll.case_number}}</td>
		<td>{{poll.parties_involved}}</td>
		<td>{{poll.case_filed_date}}</td>
		<td>{{poll.case_closed_date}}</td>
	</tr>
{% endfor %}
{% endif %}
</table>
</center>
</body>
</html>
