<html>
<head>
	<title>Search Criteria</title>
</head>
<body style="background-color:#FFEBCD">
<h1 align="center"> Case Details from PACER </h1>
<hr>

<!--Search Criteria-->
<h3 align="center"> Search Criteria Table:</h3>
<center>
<table border=1 cellpadding=10>
	<tr style="background-color:#8A2BE2;color:#FFF;">
		<th>Search Criteria ID</th>
		<th>Case Number</th>
		<th>Case Status</th>
		<th>Case Filed Date</th>
		<th>Case Closed Date</th>
		<th>From Last Entry Date</th>
		<th>To Last Entry Date</th>
		<th>Nature of suit</th>
		<th>Cause of action</th>
		<th>Last Name</th>
		<th>First Name</th>
		<th>Middle Name</th>
		<th>Type</th>
		<th>Exact matches only</th>
	</tr>
	{% if search_criteria_list %}
	{% for search_criteria in search_criteria_list %}
	<tr style="background-color:#BA55D3;color:#FFF;">
		<td>{{ search_criteria.search_criteria_id }}</td>
		<td>{{ search_criteria.case_number }}</td>
		<td>{{ search_criteria.case_status }}</td>
		<td>{{ search_criteria.from_field_date }}</td>
		<td>{{ search_criteria.to_field_date }}</td>
		<td>{{ search_criteria.from_last_entry_date }}</td>
		<td>{{ search_criteria.to_last_entry_date }}</td>
		<td>{{ search_criteria.nature_of_suit }}</td>
		<td>{{ search_criteria.cause_of_action }}</td>
		<td>{{ search_criteria.last_name }}</td>
		<td>{{ search_criteria.first_name }}</td>
		<td>{{ search_criteria.middle_name }}</td>
		<td>{{ search_criteria.type }}</td>
		<td>{{ search_criteria.exact_matches_only }}</td>
	</tr>
{% endfor %}
{% endif %}
</table>
</center>

</body>
</html>
