<html>
<head>
	<title>Additional Information</title>
</head>
<body style="background-color:#FFEBCD">
<h1 align="center"> Case Details from PACER </h1>
<hr>

<!--Addtional Information-->
<h3 align="center">Addtional Information Table:</h3>
<center>
<table border=1 cellpadding=10>
	<tr style="background-color:#8A2BE2;color:#FFF;">
		<th>Info ID</th>
		<th>Case Number</th>
		<th>Additional Info JSON</th>
	</tr>
	{% if additional_info_list %}
	{% for additional_info in additional_info_list %}
	<tr style="background-color:#BA55D3;color:#FFF;">
		<td>{{ additional_info.info_id }}</td>
		<td>{{ additional_info.case.case_number }}</td>
		<td>{{ additional_info.additional_info_json }}</td>
	</tr>
{% endfor %}
{% endif %}
</table>
</center>

</body>
</html>
